#css-grid-container{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.tile {
  display: inline-block;
  background-color: rgb(63, 167, 247);

  font-size: 72px;
  padding: 28px;
  border-radius: 8px;
  text-align: center;
}

.tile:hover{
  transform: scale(1.1);
}
