#demo_container{
  background-color: purple;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  background-color: rgb(63, 167, 247);
  margin: 8px;
  font-size: 72px;
  padding: 8px;
}



