html {
  /* font-size: 5px; */
}

.title_page {
  /* color: green; */
  text-align: center;

  /* height: 160px; */
  margin: 30px 0px 10px 10px;
  padding: 20px;

  border: 10px green;
  border-style: solid;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  width: 50vw;
}

.tile {
  background-color: rgb(63, 167, 247);
  margin: 8px;
  font-size: 72px;
  padding: 8px;
}
