.contact-section{
  background-color:  #cc0044;
  color: #fff2e6;
  text-align: center;
  width: 100vw;
  height: 50vh;
}
.contact-title{
  margin: 25px 0;
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 250%;
  color: white;
}
.email{
  font-size: 130%;
}
.socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icons{
  margin: 7.5px;
}
