* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Vesper Libre', serif;
  color: #404040;
}

header {
  width: 100vw;
  height: 100vh;
}

nav {
  /* border: 2px solid blue; */
  width: 90%;
  margin: 10px auto;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #ff66ff;
  margin-left: 10px;
  letter-spacing: 1px;
  font-size: 20px;
}

nav ul li a:hover {
  text-decoration: underline;;
}

.strapline-container{
  width: 90%;
  height: 85%;
  border: 2px solid maroon;
  margin: auto auto;
  text-align: center;
  background-image: url(../images/donuts.jpg);
  background-size: cover;
  background-position: center;
}

.main-strapline{
  color:  #ffffe6;
  text-transform: uppercase;
  font-size: 120px;
  margin: 20px;
}

.sub-strapline{
  font-size: 35px;
  margin: 10px;
  color: pink;
  font-style: italic;
}

.section-title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 240%;
  text-style: uppercase;
  margin-bottom: 25px;
}
