*{
  padding: 0;
  margin: 0;
}

/* setup background */
header {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/sydney.jpeg);
  background-size: cover;

  /* zoom in center */
  background-position: center;
}
