* {
  padding: 0;
  margin: 0;
}
header{
  width: 100vw;
  height: 100vh;
  background-image: url(../images/nasa.jpeg);
  background-size: cover;
  background-position: center;
}

.row-one, .row-two, .row-three{
  width: 100%;
}

.grid-item{
  width: 30%;
  height: 250px;
  /* border: 2px solid blue; */
  background-image: url(../images/nasa.jpeg);
  background-size: cover;
  background-position: center;

  display: inline-block;
  margin: 10px;
  border-radius: 10px;
}

.grid-item:hover{
  opacity: 0.75;
}

h2{
  text-align: center;
  margin: 40px;
  color: gray;
}

.container{
  /* border: 2px solid red; */
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
